<!-- <h1 style="margin-top: 50px;">Acheter works</h1> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2 Rue Gaspard Coriolis, 37200 Tours , France</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
   <link href="assets/css/property-styles.css" type="text/css" rel="Stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>


  <!--VOUS ALLEZ AUSSI APPRECIER-->

<h1 class="text-center" style="margin-top: 20px; margin-bottom: 30px;"> Vous allez aussi apprécier</h1>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <!--Debut du slider 1-->
      <div class="row">
        <div class="col-lg-4"><a routerLink="/Louer" ><img src="assets/images/appart1.jpg" class="d-block w-100" alt="appart1"></a>
          <div class="descript">
            <h4><b>APPARTEMENT À VENDRE  </b></h4><br>
            <span class="price">Prix: 1450 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>  <!--insertion d'image dans le carousel-->
        <div class="col-lg-4"><a routerLink="/Louer"><img src="assets/images/appart2e.jpg" class="d-block w-100" alt="..."> </a>
          <div class="descript">
            <h4><b>APPARTEMENT À VENDRE  </b></h4><br>
            <span class="price">Prix: 1300 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>
        <div class="col-lg-4"><a routerLink="/Louer"><img src="assets/images/riad2.jpg" class="d-block w-100" alt="..."></a>
          <div class="descript">
            <h4><b>RIAD À VENDRE  </b></h4><br>
            <span class="price">Prix: 4200 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>
      <!--On peut aussi remplacer img par un card pour ajouter un prix et un title du produit-->
      </div>
       <!--Fin du slider 1-->
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <!--Debut du slider 2-->
      <div class="row">
        <div class="col-lg-4"><a routerLink="/Louer"><img src="assets/images/villa1e.jpg" class="d-block w-100" alt="..."></a>
          <div class="descript">
            <h4><b>VILLA À VENDRE  </b></h4><br>
            <span class="price">Prix: 2200 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>  <!--insertion d'image dans le carousel-->
        <div class="col-lg-4"><a routerLink="/Louer"><img src="assets/images/riad1.jpg" class="d-block w-100" alt="..."></a>
          <div class="descript">
            <span class="price">Prix: 3200 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>
        <div class="col-lg-4"><a routerLink="/Louer"><img src="assets/images/appart1.jpg" class="d-block w-100" alt="..."></a>
          <div class="descript">
            <h4><b>APPARTEMENT À VENDRE  </b></h4><br>
            <span class="price">Prix: 1200 000 Euros</span><br>
            <span class="beds">Nombre de chambres: 6 </span><br>
            <span class="baths">Nombre de douches: 4 </span><br>
            <span class="surface">Superficie: 390 mètres carrés.</span><br>
            <address>
              Addresse: 2 Rue Gaspard Coriolis, <br>
              37200 Tours, France
            </address>
          </div>
        </div>
      </div>
       <!--Fin du slider 2-->
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précedent</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </a>
</div> <!--Fin de vous allez aussi aimer-->
</body>

<script src="assets/js/script.js"></script>
</html>

