<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <script src="https://kit.fontawesome.com/c26cd2166c.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:wght@600&display=swap" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
    <section class="main py-5">
        <div class="container py-5 ">
            <div class="row py-5">
                <div class="col-lg-10 mx-auto py-5">
                    <h1 class="text-white text-center">Find Your Dream Office</h1>
                    <p class="text-white text-center">We Offer the Best Real Estate Deals</p>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <span>Property for rent</span>
                                    <select class="mt-2">
                                        <!-- <option value="-Awesome">-Awesome</option> -->
                                        <option value="Appartements">Appartements</option>
                                        <option value="Villas">Villas</option>
                                        <option value="Riads">Riads</option>
                                      </select>
                                </div>
                                <div class="col-lg-3">
                                    <span>Property Type</span>
                                    <select class="mt-2">
                                        <!-- <option value="-Office">-Office</option> -->
                                        <option value="Appartements">Appartements</option>
                                        <option value="Villas">Villas</option>
                                        <option value="Riads">Riads</option>
                                      </select>
                                </div>
                                <div class="col-lg-3">
                                    <span>Property Status</span>
                                    <select class="mt-2">
                                        <!-- <option value="-off rent">-off rent</option> -->
                                        <option value="Appartements">Appartements</option>
                                        <option value="Villas">Villas</option>
                                        <option value="Riads">Riads</option>
                                      </select>
                                </div>
                                <div class="col-lg-3">
                                   <input type="button" value="Search"  class="btn1">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
             </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
