<!-- <h1 style="margin-top: 50px;">Acheter works</h1> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2 Rue Gaspard Coriolis, 37200 Tours , France</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
   <link href="assets/css/property-styles.css" type="text/css" rel="Stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

     <!--AcceuilStart-->

     <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <!---->
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner justify-content-center">
              <div class="carousel-item active ">
                <img src="assets/images/house1.jpg" class="d-block w-100" alt="home">
                <div class="carousel-caption d-none d-md-block">
                  <div id="button">

                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/house2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <div id="button">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/house3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <div id="button">
                </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div> <!--AcceuilEnd-->



  <section id="property-description" class="mt-5">
    <div class="flex container">
      <div class="description">
        <h3>DESCRIPTION</h3>
        <p><strong> VILLA DE LUXE, AVEC PISCINE, TRES BIEN EMPLACEMENT.</strong></p>
        <p>

          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit, obcaecati temporibus assumenda at,
          magni dolorum, culpa quasi voluptas tempore autem praesentium repellat enim a repellendus earum ab nam nihil.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit, obcaecati temporibus assumenda at,
          magni dolorum, culpa quasi voluptas tempore autem praesentium repellat enim a repellendus earum ab nam nihil.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit, obcaecati temporibus assumenda at,
          magni dolorum, culpa quasi voluptas tempore autem praesentium repellat enim a repellendus earum ab nam nihil.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit, obcaecati temporibus assumenda at,
          magni dolorum, culpa quasi voluptas tempore autem praesentium repellat enim a repellendus earum ab nam nihil.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui impedit, obcaecati temporibus assumenda at,
          magni dolorum, culpa quasi voluptas tempore autem praesentium repellat enim a repellendus earum ab nam nihil.
        </p>
      </div>

      <div class="listed-by-container">
        <h3>Posté par</h3>
        <img src="assets/images/agent_immobilier.jpg" alt="Poste Agent Immobilier" />
        <div>
          <!-- <a href="#">Stuart Redman</a> - DREAMHOME Ltd. -->
          <small>Félix N.-DREAMHOME Ltd</small>
        </div>
        <button id="contacter" onclick>Contacter</button>
      </div>
    </div>
  </section>

  <section id="maison-info" class="container">
    <div class="home-facts">
      <h3>Détails de la maison</h3>
      <div class="flex">
        <div>
          <label>Status:<strong> A Vendre</strong></label>

        </div>

        <div>
          <label>Posté il y a : <strong>11 jours</strong></label>
        </div>
        <div>
          <label>Année de construction: <strong>1999</strong></label>
        </div>
        <div>
          <label>Emplacement: <strong>Tours </strong></label>
        </div>
      </div>
    </div>
  </section>


  <section id="maison-info-details">
    <div class="container">
      <h2> Autres détails de la maison</h2>

      <div class="flex main-details">
        <div>
          <label><span class="fa fa-home"></span> Type:</label>
          <span>Maison familiale</span>
        </div>
        <div>
          <label><span class="fa fa-car"></span> Parking:</label>
          <span>2 espaces</span>
        </div>
        <div>
          <label><span class="fa fa-square-o"></span> Terrain:</label>
          <span>390 mètres carrés</span>
        </div>
      </div>

      <h3>Détails de l'intérieur</h3>
      <div class="flex">
        <div>
          <strong>Chambres et douches</strong>
          <ul>
            <li>Douches: 3</li>
             <li>Salons: 2</li>
            <li>Chambres: 4</li>
          </ul>
        </div>

        <div>
          <strong>Accessoires electroménagers</strong>
          <ul>
            <li> Machine à laver, Réfrigérateur, Congélateur,  Micro-ondes, Cuisinière, Lave-vaisselle</li>
          </ul>
        </div>
      </div>

      <h3>Détails de l'extérieur</h3>
      <div class="flex">
        <div>
          <strong>Parking</strong>
          <ul>

            <li>Garages: 2</li>
          </ul>
        </div>

        <div>
          <strong>Terrain</strong>
          <ul>
            <li>Superficie: 390 mètres carrés</li>
          </ul>
        </div>

        <div>
          <strong>Matériel</strong>
          <ul>
            <li>Matériel de construction externe: Caillous, Bois</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

 <app-biensimilaires></app-biensimilaires>
  <app-contact></app-contact>
<app-footer></app-footer>

</body>

<script src="assets/js/script.js"></script>
</html>


