<!-- <h1 style="margin-top: 50px;">Acheter works</h1> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2 Rue Gaspard Coriolis, 37200 Tours , France</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
   <link href="assets/css/property-styles.css" type="text/css" rel="Stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>


  <section id="contact">
    <div class="container">
      <h2>Contact</h2>

      <div id="form-container">
        <h3>Contacter l'Agent Immobilier</h3>
        <form>
          <label for="name">Nom</label>
          <input type="text" id="name" />

          <label for="email">Email</label>
          <input type="text" id="email" />

          <label for="phone">Téléphone</label>
          <input type="text" id="phone" />

          <label for="message">Message</label>
          <textarea id="message" placeholder="Par exemple, je suis intéressé à acheter cette maison. Est-elle toujours disponible SVP?"></textarea>

          <button class="rounded">Envoyer</button>
        </form>
      </div>
    </div>
  </section>
</body>
<script src="../assets/js/script.js"></script>
</html>
